@import "/src/styles.scss";

:host {
  --height: 3rem;
  --padding: 3rem;
}

div.header {
  width: calc(100% - var(--padding) - var(--padding));
  height: var(--height);
  padding: 0 var(--padding);

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  z-index: 10;
}

.logo {
  font-size: 1rem;
  font-weight: 900;
}

ul.list {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: right;
}

a {
  margin: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.7;
}
a:hover::after {
  transform: scaleX(1);
}

mat-icon {
  display: none;
}

@media only screen and (max-width: 640px) {
  :host {
    --height: 3rem;
    --padding: 1rem;
  }

  ul.list {
    display: none;
  }

  mat-icon {
    display: flex;
  }
}
