<div class="container">
  <p class="title">객실.</p>
  <div class="content">
    <div class="description" style="margin-bottom: 4rem">
      <p class="main-text">
        독채 펜션<br />총 4개 객실을 운영합니다.<br /><br />
      </p>
      <p class="link">
        능운대 <span class="smaller">(최소 4인, 최대 6인)</span>
        &nbsp;&nbsp;>&nbsp;&nbsp;자세히 보기
      </p>
      <p class="link">
        학소대 <span class="smaller">(최소 4인, 최대 5인)</span>
        &nbsp;&nbsp;>&nbsp;&nbsp;자세히 보기
      </p>
      <p class="link">
        와룡암 <span class="smaller">(최소 3인, 최대 4인)</span>
        &nbsp;&nbsp;>&nbsp;&nbsp;자세히 보기
      </p>
      <p class="link">
        첨성대 <span class="smaller">(최소 2인, 최대 4인)</span>
        &nbsp;&nbsp;>&nbsp;&nbsp;자세히 보기
      </p>
      <br />
      <p class="link">>&nbsp;&nbsp;예약 및 환불안내</p>
      <p class="link">>&nbsp;&nbsp;객실 예약하기</p>
    </div>

    <img src="/assets/pension.jpg" />
  </div>
</div>

<divider></divider>
