@import "/src/styles.scss";

.main {
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/food/food1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include font-main-title;
    color: white;
  }

  .description {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    p {
      @include font-description;
    }
  }
}

.list {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
