<div class="main">
  <p class="title">식사 예약</p>
  <div class="description">
    <p>1. 테이블 당 4인 기준입니다</p>
    <p>2. 테이블 별로 1개 이상 예약이 필요합니다</p>
    <p>3. 백숙, 버섯찌개를 예약할 수 있습니다</p>
    <p>4. 파전류는 현장에서 주문해주세요</p>
    <p>5. 당일예약은 전화로 부탁드려요</p>
  </div>

  <div class="list">
    <mat-accordion>
      <!-- 날짜 선택 -->
      <mat-expansion-panel
        (opened)="panelOpenStates.date = true"
        (closed)="panelOpenStates.date = false"
        expanded="{{ panelOpenStates.date }}"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>event</mat-icon>
            날짜 선택
          </mat-panel-title>
          <mat-panel-description>
            {{ selectedDate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-calendar
            [(selected)]="selected"
            [dateFilter]="dateFilter"
          ></mat-calendar>
        </mat-card>
      </mat-expansion-panel>

      <!-- 시간 선택 -->
      <mat-expansion-panel
        (opened)="panelOpenStates.time = true"
        (closed)="panelOpenStates.time = false"
        expanded="{{ panelOpenStates.time }}"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>access_time</mat-icon>
            시간 선택
          </mat-panel-title>
          <mat-panel-description> 20시30분 </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
      </mat-expansion-panel>

      <!-- 인원 선택 -->
      <mat-expansion-panel
        (opened)="panelOpenStates.member = true"
        (closed)="panelOpenStates.member = false"
        expanded="{{ panelOpenStates.member }}"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>people</mat-icon>
            인원 선택
          </mat-panel-title>
          <mat-panel-description> 6명 </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </mat-expansion-panel>
      <!-- 예약자 성함 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>person</mat-icon>
            예약자 성함
          </mat-panel-title>
          <mat-panel-description> 박종구 </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </mat-expansion-panel>
      <!-- 메뉴 선택 -->
      <!-- 연락처 기입 -->
      <!-- 차량번호 기입 -->
    </mat-accordion>
  </div>
</div>
