<div class="story">
  <p class="title">이야기.</p>
  <div class="content">
    <div class="description">
      <p class="main-text">어서오세요.<br />능운대 펜션입니다.<br /><br /></p>
      <p>
        안녕하세요.<br />
        화양계곡에서 40년을 함께한 능운대지기입니다.<br /><br /><br />
        능운대 펜션은 여행객들을 위해 만든 국립 공원 내 숙박 공간입니다.<br /><br /><br />
        언제나 숲과 계곡이 함께하는 펜션 시설과,<br />
        산에서 구한 신선한 음식들을 준비하고 있습니다.<br /><br /><br />
        자연의 소리와 쏟아지는 별을 감상하러 오세요.<br /><br /><br />
      </p>
      <p class="from">- 능운대지기</p>
    </div>

    <img src="/assets/panel.jpg" />
  </div>
</div>
