@import "/src/styles.scss";

mat-toolbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 1000;
  height: 3rem;
}

div.logo {
  font-size: 1rem;
  font-weight: 800;
}

div.menu {
  width: 50%;
  display: flex;
  justify-content: right;

  p {
    margin: 1rem;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

mat-icon {
  display: none;
}

@media only screen and (max-width: 640px) {
  mat-toolbar {
    padding: 0 1rem;
  }
  div.menu {
    display: none;
  }
  mat-icon {
    display: flex;
  }
}
